@import url("https://fonts.google.com/specimen/Poppins") * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: #10092c;
    overscroll-behaviour: none;
    font-family: "Inter";
}

.header {
    padding: 4em;
    opacity: 0.75;
}

.header h1 {
    width: 60%;
    background: #cfcfcf;
    background: linear-gradient(to top, #cecece 0%, #ffffff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    font-size: 80px;
    letter-spacing: -0.05em;
    line-height: 1;
}